{% extends get_relative_path( 'layouts/base.twig' ) %}

{% block content %}
  <section class="section section__content">
    <h2>{{ page_404.headline }}</h2>
    {{ page_404.content }}

    {% if maybe.posts is not empty %}
      <h3>{{ maybe.headline }}</h3>
      <ul class="gl-list-unstyled gl-list-inline">
        {% for post in maybe.posts %}
        <li>
          <a href="{{ post.link }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </section>
{% endblock %}
