<section class="PostHeader">
   <div class="PostHeader__wrapper">
   <img src={{image.sizes.i1440x810}}>
   <div class="PostHeader__content">
    <a class="PostHeader__back" href="http//:jaxdesigns.test">Back</a>
   <div class="PostHeader__category-big">{{post.category}}</div> 
   <h1 class="PostHeader__headline">{{post.post_title}}</h1> 
   <div class="PostHeader__subheadline-wrapper">
   <div class="PostHeader__date-wrapper">
   <span  class="PostHeader__date-headline PostHeader__subheadline">Date: </span>
   <span  class="PostHeader__date">March 27,2018</span>
   </div>
    <div class="PostHeader__category-wrapper">
   <span  class="PostHeader__category-headline PostHeader__subheadline">Category: </span>
   <span  class="PostHeader__category">{{post.category}}</span>
   </div>
 <div class="PostHeader__difficulty-wrapper">
   <span  class="PostHeader__difficulty-headline PostHeader__subheadline">Difficulty: </span>
   <span  class="PostHeader__difficulty">{{post.difficulty}}</span>
   </div>
   </div>
    <div class="PostHeader__scrolltext">Scroll</div>
   </div>
</div>
</section>
