<section class="Footer">
  <div class="Footer__inner">
  <div class="Footer__left">
  Thank you for stepping by. See you soon!</div>
  <img class="Footer__logo" src={{option.logo.url}}></img>
  <div class="Footer__right">
    
    <span class="Footer__link">© 2020, Jax Designs</span>  |
     {# <a class="Footer__link" href={{option.about.url}}>About</a>  | #}
  {# <a class="Footer__link" href={{option.contact.url}}>Contact</a>  |  #}
  <a class="Footer__link" href={{option.imprint.url}}>Imprint</a>  | 
    <a class="Footer__link" href={{option.privacy.url}}>Privacy Policy</a>
  </div>
  </div>
</section>
